@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap'); 

.App-header{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #C0C4CC;
  padding: 12px;
  width: 78vw;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  width: auto;
  height: fit-content; 
}

.Logo{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 153.6px;
  height: 61.18px;
  margin-left: -1vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.SearchBox{
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 2px;
  border: 1px solid #C0C4CC;
  width: 180px;
  height: 33px;
  align-items: center;
  margin-left: auto;
}

.SearchIcon{
  width: 13.67px;
  height: 13.67px;
}

input{
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
  border: none;
  outline: none;
}

.Rowcontainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  gap: 1.82vw;
  width: 79.42vw;
  height: 48.46vh;
}

.Moviecontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 1.69vw;
  width: 78.12vw;
  height: 152.64vh;
  margin-left: -1vw;
  top: 22vh;
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.Recent{
  height: 22px;
  margin-top: 5vh;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-self: flex-start;
  margin-left: 10vw;
  justify-content: center;
  letter-spacing: -0.01em;
  color: #000000;
}




